@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{

    --bg-color: #000;

    --btn-color: #fdfdfd;/* button color*/
    --btn-bg: #7e22ce;/* button bg color*/

    --primary-text-color: #7e22ce;
    --header-link-hover: #7e22ce;
    --input-hover-bd-color: #7e22ce;
}


html {
    scroll-behavior: smooth;
    font-family: "Ubuntu", sans-serif;
}

header{
    /* background-color: #fff;
    color: #000; */
    color: #b1b1b1;
}


header > .collapsible-header{
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: inherit;
    place-content: center;
    overflow: hidden;
    transition: width 0.3s ease;
}

.animated-collapse{
    transition: width 0.3s ease;
}


.header-links {
    display: flex;
    align-items: center;
    min-width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.5s, color 0.5s;
}


.header-links:hover {
    color: #ffffff;
    /* background-color: var(--header-link-hover); */
}

.primary-text-color{
    color: var(--primary-text-color);
}

.gradient-text{
    background: rgb(215,215,215);
    background: linear-gradient(90deg, rgba(215,215,215,1) 18%, rgba(136,136,136,1) 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section{
    /* background-image: url("../assets/images/background/dots.svg"); */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.hero-img-bg-grad{
    background: rgb(126,34,206);
    background: linear-gradient(90deg, #7e22ce91 8%, #625aafae 31%, #7badbbbc 76%, #54d2d0ca 89%);
    filter: blur(50px);
    opacity: 0.5;
}

#dashboard {
    /* transform-origin: bottom center; */
    transform: perspective(1200px) translateX(0px) translateY(12px) scale(0.8)
        rotate(0deg) rotateX(70deg);
    transition: transform 0.5;
}

.border-gradient{
    background: rgb(219,215,213);
    background: linear-gradient(180deg, rgba(219,215,213,1) 35%, rgba(214,211,233,0) 71%);
    /* background-image: linear-gradient(90deg, #7e22ce91 8%, #625aafae 31%, #7badbbbc 76%, #54d2d0ca 89%); */
    padding: 2px;
    border-radius: 10px;
}
.border-gradient>div{
    /* background-color: var(--bg-color); */
    background-color: var(--bg-color);
    border-radius: inherit;
}

.opacity-0{
    opacity: 0 !important;
}

.opacity-100{
    opacity: 100 !important;
}

.btn{
    padding: 10px 15px;
    width: max-content;
    border-radius: 5px;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.btn:hover{

}

.btn:disabled{
    cursor: default;
}

.input{
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    /* outline: none; */
    min-width: 100px;
    border: 1px solid #818080;
    /* transition: border 0.3s; */
}

.input:active, .input:focus, .input:focus-within{
    border: 1px solid var(--input-hover-bd-color) !important;
}

.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 800px;
}
  
.carousel {
    display: inline-block;
    animation: scroll 10s linear infinite;
}
  
.carousel-img {
    display: inline-block;
    margin: 0 20px;
}
  
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.footer-link{
    color: #c7c6c6;
    transition: color 0.3s;
}

.footer-link:hover{
    color: #fff;
}


/* From Uiverse.io by Madflows */ 
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

  

/*Spinner*/


/* By Stivion */ 
.spinner {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -75px;
  }
  
  .spinner span {
    position: absolute;
    top: 50%;
    left: var(--left);
    width: 35px;
    height: 7px;
    background: #ffff;
    animation: dominos 1s ease infinite;
    box-shadow: 2px 2px 3px 0px black;
  }
  
  .spinner span:nth-child(1) {
    --left: 80px;
    animation-delay: 0.125s;
  }
  
  .spinner span:nth-child(2) {
    --left: 70px;
    animation-delay: 0.3s;
  }
  
  .spinner span:nth-child(3) {
    left: 60px;
    animation-delay: 0.425s;
  }
  
  .spinner span:nth-child(4) {
    animation-delay: 0.54s;
    left: 50px;
  }
  
  .spinner span:nth-child(5) {
    animation-delay: 0.665s;
    left: 40px;
  }
  
  .spinner span:nth-child(6) {
    animation-delay: 0.79s;
    left: 30px;
  }
  
  .spinner span:nth-child(7) {
    animation-delay: 0.915s;
    left: 20px;
  }
  
  .spinner span:nth-child(8) {
    left: 10px;
  }
  
  @keyframes dominos {
    50% {
      opacity: 0.7;
    }
  
    75% {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  
    80% {
      opacity: 1;
    }
  }
  




/*Button*/



.Button1 {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .Button1::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .Button1:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .Button1:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }


  /*cards*/

  

.card {
    
      position: relative;
      width: 220px;
      height: 320px;
      background: rgba(0, 0, 0, 0.562);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      border-radius: 15px;
      cursor: pointer;
    }
    
    .card::before,
    .card::after {
      position: absolute;
      content: "";
      width: 20%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      background-color: rgba(165, 181, 187, 0.87);
      transition: all 0.5s;
    }
    
    .card::before {
      top: 0;
      right: 0;
      border-radius: 0 15px 0 100%;
    }
    
    .card::after {
      bottom: 0;
      left: 0;
      border-radius: 0 100%  0 15px;
    }
    
    .card:hover::before,
    .card:hover:after {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      transition: all 0.5s;
    }
    
    .card:hover:after {
        color: red;
        content: "Optifine";
      
    }


/*card2*/

.card2 {
    
    position: relative;
    width: 220px;
    height: 320px;
    background: rgba(0, 0, 0, 0.562);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card2::before,
  .card2::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(165, 181, 187, 0.87);
    transition: all 0.5s;
  }
  
  .card2::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card2::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card2:hover::before,
  .card2:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card2:hover:after {
      color: rgb(0, 0, 0);
      content: "CrankerMan's";
    
  }


/*Card3*/


.card3 {
    
    position: relative;
    width: 220px;
    height: 320px;
    background: rgba(0, 0, 0, 0.562);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .card3::before,
  .card3::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(165, 181, 187, 0.87);
    transition: all 0.5s;
  }
  
  .card3::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
  }
  
  .card3::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
  }
  
  .card3:hover::before,
  .card3:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
  }
  
  .card3:hover:after {
      color: rgb(43, 255, 0);
      content: "DNS Jumper";
    
  }



















/*Button2*/

/* From Uiverse.io by andrew-demchenk0 */ 
.button2 {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
  }
  
  .button2, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button2 .button__text {
    transform: translateX(21px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .button2 .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button2 .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .button2:hover {
    background: var(--bg-color);
  }
  
  .button2:hover .button__text {
    color: transparent;
  }
  
  .button2:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button2:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }


/*arreglo*/

.arreglo{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}






















/* Style for the collapsible content such as faq commonly known as: accordion */

.faq-accordion {
    background-color: inherit;
    color: #f2f2f2;
    cursor: pointer;
    padding: 15px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: height 0.4s;
}

.faq .content {
    padding: 0px 18px;
    color: #e4e4e4;
    height: max-content;
    overflow: hidden;
    background-color: transparent;
    text-align: justify;
    max-height: 0px;
    transition: max-height 0.4s, padding 0.4s;
}

.faq-accordion .active,
.faq-accordion:hover {
    /* background-color: #2e2c2c; */
}

@media not all and (min-width: 1024px) {
    header .collapsible-header {
        position: fixed;
        right: 0px;
        flex-direction: column;
        opacity: 0;
        height: 100vh;
        min-height: 100vh;
        height: 100dvh;
        width: 0vw;
        justify-content: space-between;
        padding: 5px;
        padding-top: 5%;
        padding-bottom: 5%;
        place-items: end;
        background-color: #040404;
        color: #ffffff;
        overflow-y: auto;
        box-shadow: 3px 0px 3px 2px #9f9f9f;
    }

    .header-links{
        color: rgb(255, 255, 255);
    }
    
}